@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    font-family: 'Poppins', sans-serif;
    --sage: #A0C49D;
    --pastel: #C4D7B2;
    --light-pastel: #E1ECC8;
    --cream: #F7FFE5;
}

body {
    background: var(--cream);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px 80px 1fr;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
}

.navbar, .header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/-1;
    grid-row: 1/2;
}

.header {
    grid-row: 2/3;
}

.search {
    background: var(--pastel);
    width: 500px;
    height: 30px;
    border-radius: 20px;
}

.pfp {
    background: var(--pastel);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.card {
    height: 100px;
    background: var(--light-pastel);
    border: 1px solid black;
}

.news.card, .profile.card {
    height: 50px;
    width: 100px;
}

.board {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.5fr 1fr;
}

.projects {
    display: grid;
    grid-row: 1/-1;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 50px auto;
    gap: 10px;

    > h3 {
        grid-column: 1/-1;
    }
}

.announcements {

}

.trending {
    grid-column: 2/-1;
}